.project {
    height: 320px;
    width: 400px;
    background-color: #192728;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: all 200ms;
}

.project:hover {
    height: 350px;
    width: 420px;
}

.project:hover > .image {
    height: 280px;
}

.image {
    margin-top: 8px;
    width: 95%;
    align-self: center;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    height: 250px;
}


.image > img {
    width: 100%;
    height: 250px;
    border-radius: 16px;
}

.details {
    align-self: center;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 12px;
}