.App {
  background : rgb(77, 77, 77) url(https://res.cloudinary.com/dtuafcbbd/image/upload/v1640511227/personal/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
  background-position: center;
  height: 100vh;
  overflow: auto;
  transition: background 200ms;
}