.projects {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    background-color: #192728;
}

h3 {
    align-self: center;
    color: aliceblue;
}




.project-list {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

.project-list-mobile {
    display: none;
}


@media only screen and (max-width: 600px) {
    .projects {
        height: auto;
    }

    .project-list {
        display: none;
    }

    .project-list-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}